/*
Modules (using no subtemplate)

Styleguide modules
*/

/*
Standard Module

Markup: module.hbs

ct-tags: button action

ct-design-mobile: module.jpg

ct-design-mobile-notes: this is just a demo image, obviously

ct-design-mobile-crop: 317,251,0,0

Styleguide modules.standard
*/

.b-action {
    background-color: white;
    color: orange;
    border-color: orange;
}