<input type="submit" class="b{{#if modifier_class}} {{modifier_class}}{{/if}}" value="{{label}}" />
<input type="button" class="b{{#if modifier_class}} {{modifier_class}}{{/if}}" value="{{label}}" />
<button type="button" class="b{{#if modifier_class}} {{modifier_class}}{{/if}}">{{label}}</button>
<a href="#" class="b{{#if modifier_class}} {{modifier_class}}{{/if}}">{{label}}</a>