/*
Buttons

Styleguide buttons
*/

/*
Standard Button

This is the standard button, which is usable with several focussable elements.

Markup: button.hbs

.r - red
.g - green
.y - yellow
.r:hover - red
.g:hover - green
.y:hover - yellow

Weight: -1

Styleguide buttons.standard
*/

.b {
    background-color: #666;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    display: inline-block;
    padding: 4px;
    border: 2px solid transparent;
}

.b:hover {
    color: black;
    border-color: black;
}

a.b {
    text-decoration: none;
}

.b.r {
    background-color: red;
}

.b.g {
    background-color: green;
}

.b.y {
    background-color: yellow;
}

/*
Special Button

This could be a different type of button.

Markup: button.hbs

.r - red
.g - green
.b - blue

Styleguide buttons.special
*/

/*
Crazy Button

This could also be a different type of button.

Markup: button.hbs

.r - red
.g - green
.b - blue

Styleguide buttons.crazy
*/